# Ignore Secrets
.env
.env.local

# Ignore Python Garbage
__pycache__/
.pytest_cache/
*.py[cod]

# Ignore OS Garbage
.DS_Store
Thumbs.db

# Ignore Local Virtual Envs
venv/
.venv/

node_modules/
.vite/
src/backend/data/
